
<div class="row offset-1">
	<h4>{{item.name}}</h4>
</div>

<div class="row offset-1">
	<!-- <div class="col-8"> -->
	<div class="col-md-4 col-md-pull-1" style="padding-bottom: 15px;">
		<span>Name: {{item.name}}</span><br>
		<span>Common Name(s): ???</span><br>
		<span>Family: {{item.family}}</span><br>
		<span>Speci: {{item.species}}</span><br>
		<span>Botanical Name: {{item.botanical}}</span><br>
		<span>Date discovered: ???</span><br>
		<span>Population: ???</span><br>
	</div>
	<!-- <div class="col-4"> -->
	<div class="col-md-12" style="padding-bottom: 15px;">
		<img ng-src="{{item.image}}" alt="{{item.name}}" style="width: 100%;
    max-width: 407px;">
	</div>
	<div class="col-md-10" style="height: 200px;padding-bottom: 15px;">
		{{item.description}}}
	</div>
   
</div>